* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}     
body {
    margin: 0 auto;
    padding: 0;

}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

header h1 {
    color: white;
    background: grey;
    padding: 15px 15px 15px 45px;
    margin: 0;
}
.hero {
    background-image: url(https://source.unsplash.com/1600x900?sunset);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

.hero-subheader {
    position: absolute;
    text-align: center;
    top: 350px;
    right: 50px;
    border: 5px solid darkgrey;
    background-color: darkgray;
}

nav {
    text-align: right;
    margin-top: 30px;
    margin-right: 45px;
    margin-bottom: 10px;
}

nav a {
    color: grey;
    text-decoration: none;
    padding:0 5px;
}


section {
    display: flex;
    justify-content: center;
}

section h2 {
    flex-basis: 20%;
}

section div {
    flex-basis: 70%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.contact-info {
    text-align: center;
    padding: 30px
}

.contact-info a {
    margin-left: 5px;
    margin-right: 5px;
    color: darkblue;
    text-decoration: none;
}

.first-card {
    min-height: 400px;
    flex-basis: 100%;
    margin: .5rem;
    margin-bottom: 50px;
}

section h4 {
    margin: 0;
}

.card {
    height: 200px;
    flex-basis: calc(50% - 1rem);
    margin: .5rem;
    margin-bottom: 50px;
}

.card-img {
    border: 2px solid darkblue;
    padding: 0px;
}

.card-img {
    height: 100%;
    width: 100%;
}

.footer {
    height: 50px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .hero {
        display: none;
        width: 100%;
        padding-bottom: 30px;
    }

    .card-container {
        display: inline;
    }

    .first-card {
        margin-bottom: -150px;
    }
}

@media screen and (max-width: 1000px) {
    main {
        margin-left: 30px;
        margin-right: 30px;
    }
    
    section {
        display: block;
        text-align: center;
    }
    .first-card {
        margin-bottom: 25px;
    }
    .card img {
        object-fit:cover;
        
    }
    .hero {
    height: 30vh;        
    width: 100%;
    padding-bottom: 30px;
    }
    .hero-headline {
    display: none;
    }
    
    .hero-subheader {
    display: none;
    }

    .card-container {
        display: inline;
    }
}

@media screen and (max-width: 644px) {
    header {
        display: block;
        text-align: center;
    }
    nav {
        text-align: center;
        margin-right: 0;
    }
}
